<div class="banner{{ classes is defined ? ' ' ~ classes : '' }}">
    <img src="{{ url }}" alt="{{ alt is defined ? alt : '' }}">

    {% if overlay is defined and overlay %}
        <div class="overlay"></div>
    {% endif %}

    {% if title is defined or subtitle is defined %}
        <div class="content">
            {% if title is defined %}
                <h1>{{ title }}</h1>
            {% endif %}
            {% if subtitle is defined %}
                <h2>{{ subtitle }}</h2>
            {% endif %}
        </div>
    {% endif %}

    {% if classes is defined and classes == 'banner-homepage' %}
        <a id="see-tricks" href="#all-tricks" title="Voir les figures"><i class="fas fa-arrow-down"></i></a>
    {% endif %}
</div>
