{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <h1>Mettre à jour mes informations</h1>

            {{ form_start(form) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.avatarImage, app.user.avatarImage ? {
                    filename: app.user.avatarImage.filename
                } : {}) }}
                <button type="submit" class="btn">Enregistrer les modifications</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
