{% block custom_collection_form_row %}
    <div {{ block('attributes') }}>
        {% if form.vars.label is defined %}
            <div class="custom_collection_type_label">
                {{ form.vars.label }}
                {% if form.vars.min_items is defined and form.vars.min_items > 0 %}
                    <span class="required">*</span>
                {% endif %}
            </div>
        {% endif %}
        <ul id="{{ form.vars.id }}" class="custom_collection_type"
            data-prototype-name="{{ form.vars.prototype_name }}"
            data-prototype="{{ form_widget(form.vars.prototype)|e }}"
            data-widget-tags="li"
            data-widget-counter="{{ form|length }}"
            data-allow-delete="{{ form.vars.allow_delete }}"
            {% if form.vars.min_items is defined %}
                data-min-items="{{ form.vars.min_items }}"
            {% endif %}
            {% if form.vars.max_items is defined %}
                data-max-items="{{ form.vars.max_items }}"
            {% endif %}
        >
            {% for itemFields in form %}
                {% if itemFields.vars.value is instanceOf('App\\Entity\\Media') %}
                    {% set media = itemFields.vars.value %}
                    <li class="collection_item">
                        <div>
                            <div id="{{ itemFields.vars.id }}">
                                {% for field in itemFields.children %}
                                    {% if field.vars.type is defined and field.vars.type == 'file' %}
                                        {{ form_row(field, {
                                            filename: media.filename
                                        }) }}
                                    {% else %}
                                        {{ form_row(field) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="collection_item">
                        {{ form_row(itemFields) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if form.vars.allow_add == true %}
            <button
                class="btn align-left add_another_collection_widget"
                data-collection-selector="#{{ form.vars.id }}">{{ form.vars.add_message|raw }}</button>
        {% endif %}
    </div>
{% endblock %}

{% block _trick_trickGroup_widget %}
    {{ form_widget(form) }}
    <div class="form-custom-actions">
        <a
            href="#"
            data-open="modal-ajax"
            data-target="{{ path('ajax_groups_getForm') }}"
        >
            Ajouter un nouveau groupe
        </a>
    </div>
{% endblock %}

{% block file_widget %}
    {% if filename is defined and filename is not null and form.vars.attr['data-preview'] is defined and form.vars.attr['data-preview'] == 'true' %}
        <img src="{{ asset('uploads/images/' ~ filename) }}" class="preview-image">
    {% endif %}

    {{ form_widget(form) }}
    <label class="form_file_input" for="{{ form.vars.id }}">
        <span class="icon"><i class="fas fa-upload"></i></span>
        <span class="text">Choisir un fichier</span>
    </label>
{% endblock %}

{% block form_label %}
    {% if form.vars.label %}
        <label for="{{ form.vars.id }}" class="{{ form.vars.required is defined and form.vars.required ? 'required' : '' }}">
            {{ form.vars.label }}
            {% if form.vars.required is defined and form.vars.required and checked is not defined %}
                <span class="required">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors | length %}
        {% for error in errors %}
            <div class="form-error">
                <span class="tag">&times;</span>
                <span class="message">{{ error.message }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}