{% block custom_collection_form_row %}
    <div {{ block('attributes') }}>
        {% if form.vars.label is defined %}
            <div class="custom_collection_type_label">
                {{ form.vars.label }}
                {% if form.vars.min_items is defined and form.vars.min_items > 0 %}
                    <span class="required">*</span>
                {% endif %}
            </div>
        {% endif %}
        <ul id="{{ form.vars['id'] }}" class="custom_collection_type"
            data-prototype-name="{{ form.vars.prototype_name }}"
            data-prototype="{{ form_widget(form.vars.prototype)|e }}"
            data-widget-tags="li"
            data-widget-counter="{{ form|length }}"
            data-allow-delete="{{ form.vars.allow_delete }}"
            {% if form.vars.min_items is defined %}
                data-min-items="{{ form.vars.min_items }}"
            {% endif %}
            {% if form.vars.max_items is defined %}
                data-max-items="{{ form.vars.max_items }}"
            {% endif %}
        >
            {% for itemFields in form %}
                <li class="collection_item">
                    {{ form_row(itemFields) }}
                </li>
            {% endfor %}
        </ul>

        {% if form.vars.allow_add == true %}
            <button
                class="btn align-left add_another_collection_widget"
                data-collection-selector="#{{ form.vars.id }}">{{ form.vars.add_message|raw }}</button>
        {% endif %}
    </div>
{% endblock %}

{% block form_label %}
    {% if form.vars.label %}
        <label for="{{ form.vars.id }}" class="{{ form.vars.required is defined and form.vars.required ? 'required' : '' }}">
            {{ form.vars.label }}
            {% if form.vars.required is defined and form.vars.required and checked is not defined %}
                <span class="required">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors | length %}
        <div class="alert alert-error">
            {% for error in errors %}
                <div>{{ error.message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}