{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
		<div class="form-container form-small">
            <h1>Connexion</h1>
            
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|raw }}</div>
            {% endif %}

			<form method="post">
                <div>
                    <label for="inputUsername">Nom d'utilisateur</label>
		            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Mot de passe</label>
		            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn" type="submit">Se connecter</button>

                <div class="others-actions">
                    <a href="{{ path("registration_register") }}">Je n'ai pas encore de compte</a>
                    <a href="{{ path("security_forgotten_password") }}">Mot de passe oublié ?</a>
                </div>
            </form>
		</div>
	</div>
{% endblock %}
