{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<div class="registration_form">
			<h1>Inscription</h1>

			{{ form_start(form) }}
			{{ form_row(form.username) }}
			{{ form_row(form.email) }}
			{{ form_row(form.password) }}

			<button type="submit" class="btn">S'inscrire</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
