{% extends 'base.html.twig' %}

{% block title %}Modifier la figure{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <h1>Modifier la figure « {{ trick.name }} »</h1>

            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.trickGroup) }}
                {{ form_row(form.description) }}
                {{ form_row(form.medias) }}

                <div class="actions">
                    <button type="submit" class="btn btn--success">Enregistrer les modifications</button>
                    <a
                        href="{{ path('trick_delete', {'trick_id': trick.id}) }}"
                        class="btn btn--danger"
                        title="Supprimer"
                        data-trigger="custom-modal"
                        data-action="delete"
                        data-modal-title="Êtes-vous sûr ?"
                        data-modal-content="Êtes-vous sûr de vouloir supprimer cette figure ? Cette action est irréversible, une fois la figure supprimée, vous ne pourrez plus la récupérer."
                    >
                        Supprimer la figure
                    </a>
                </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
